{% include "header.html" %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/aboutus.css' %}">



<!-- Content -->

<div class="bg-success text-white text-center py-3">
    About Us
</div>

<div class="patch">
    <div class="aboutus-box">
        <p>This project is developed by <b>Yathish Acharya</b></p>
        <p>It was an Development Project made purely from Django<br/>
        This is the first Website made by himself on the date <br/><b>29/07/2024</b><br/>
        Although this was the learning phase of his project <br/>
        So it took 5 days to build as he was learning and 
        practicing at the same time.<br/> So for the phase he made this web app as a base<br/>
        And included all the applications he can build <br/>
        in a Single Web App Platform.<br/>
        Thank You</p>

    </div>
</div>