{% include "header.html" %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/home.css' %}">
<div class="bg-success text-white text-center py-3">
    Welcome to Home Page (Still UnderDevelopment)
</div>


<div class="container">
    <div>
      <div class="content">
        <h2>Artificial Intelligence</h2>
        <span>Snaps</span>
      </div>
    </div>
    <div>
      <div class="content">
        <h2>Machine Learning</h2>
        <span>Snaps</span>
      </div>
    </div>
    <div>
      <div class="content">
        <h2>Robotics</h2>
        <span>Snaps</span>
      </div>
    </div>
    <div>
      <div class="content">
        <h2>Codings</h2>
        <span>Snaps</span>
      </div>
    </div>
  </div>