{% include "header.html" %}
<title>{{ ndetails.news_title }}</title>

<div class="bg-red-700 text-white text-center py-4 text-2xl font-semibold">
    {{ ndetails.news_title }}
</div>

<div class="container mx-auto px-4 mt-6">
    <div class="text-center">
        <h1 class="text-4xl font-bold text-gray-800">{{ ndetails.news_title }}</h1>
        <p class="text-lg text-gray-600 mt-2 font-semibold">Category: {{ ndetails.news_category }}</p>
    </div>

    {% if ndetails.news_image %}
    <div class="flex justify-center mt-6">
        <img src="/media/{{ ndetails.news_image }}" class="rounded-lg shadow-md w-2/5 md:w-3/5">
    </div>
    {% endif %}

    <div class="bg-gray-100 text-gray-800 text-lg text-justify p-6 md:p-8 rounded-lg shadow-lg mt-8 w-11/12 md:w-4/5 mx-auto">
        {{ ndetails.news_description | safe }}
    </div>
</div>
